<% include ../head %>
	<a href = "/reports/service/thisMonth">Service Report (This month)</a>
	<a href = "/reports/service/lastMonth">Service Report (Last month)</a>
		<table border = "1">
		<tr>
			<td>Week					</td>
			<td>Number of Households	</td>
			<td>Under 18 Years			</td>
			<td>18 to 64 Years			</td>
			<td>65 years and older		</td>
			<td>Total people			</td>
			<td>Total food cost (in USD)</td>
		</tr>
		
		<% for (var i in arr) { %>
			<tr>		
				<% for(var j = 0; j < val.length; j++) { %> <td> <%= arr[i][val[j]] %> </td> <% } }%>
			</tr>
		</table>
		
		<a href = "/reports/grocery">Grocery Report</a>
		
<% include ../foot %>
