<% include head %>
<table>
	<tr>
	<td><a href="/pickups"><img src="/images/pickups.png" alt="Pickups" /></a></td>
	<td><a href="/bags"><img src="/images/bags.png" alt="Bags" /></a></td>
	<td><a href="/dropoffs"><img src="/images/dropoffs.png" alt="Drop Offs" /></a></td>
	</tr>

	<tr>
	<td><a href="/clients"><img src="/images/clients.png" alt="Clients" /></a></td>
	<td><a href="/reports/service/thismonth"><img src="/images/servicereport.png" alt="Service Report" /></a></td>
	<td><a href="/products"><img src="/images/products.png" alt="Products" /></a></td>
	</tr>


</table>


<% include foot %>
