


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="style.css" />


</head>

<body>


<table>
	<tr>
	<td><a href="http://www.ehow.com/how_8515874_shot-alcohol.html"><img src="https://scontent-a-atl.xx.fbcdn.net/hphotos-prn2/1467313_10151979119495772_2029837460_n.jpg" alt="Pickups" /></a></td>
	<td><a href="http://www.ehow.com/how_8515874_shot-alcohol.html"><img src="https://scontent-a-atl.xx.fbcdn.net/hphotos-prn2/1456599_10151979119400772_1729311163_n.jpg" alt="Bags" /></a></td>
	<td><a href="http://www.ehow.com/how_8515874_shot-alcohol.html"><img src="https://scontent-a-atl.xx.fbcdn.net/hphotos-prn1/936749_10151979119405772_1789821185_n.jpg" alt="Drop Offs" /></a></td>
	</tr>

	<tr>
	<td><a href="http://www.ehow.com/how_8515874_shot-alcohol.html"><img src="https://scontent-a-atl.xx.fbcdn.net/hphotos-prn2/1441472_10151979119460772_502776631_n.jpg" alt="Clients" /></a></td>
	<td><a href="http://www.ehow.com/how_8515874_shot-alcohol.html"><img src="https://scontent-b-atl.xx.fbcdn.net/hphotos-ash4/1460942_10151979119410772_205067025_n.jpg" alt="Service Report" /></a></td>
	<td><a href="http://www.ehow.com/how_8515874_shot-alcohol.html"><img src="https://scontent-a-atl.xx.fbcdn.net/hphotos-ash3/1393475_10151979119455772_1681278823_n.jpg" alt="Products" /></a></td>
	</tr>


</table>




</body>
</html>

