

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Home</title>
	<style type="text/css" media="all">
	
	td {
		border: 1px solid #999;
		padding: 0.1em 1em;
	}
	
	</style>
</head>

<body>


<table>
	<tr>
	<td><a href="/pickups"><img src="/images/pickups.png" alt="Pickups" /></a></td>
	<td><a href="/bags"><img src="/images/bags.png" alt="Bags" /></a></td>
	<td><a href="/dropoffs"><img src="/images/dropoffs.png" alt="Drop Offs" /></a></td>
	</tr>

	<tr>
	<td><a href="/clients"><img src="/images/clients.png" alt="Clients" /></a></td>
	<td><a href="/reports/service/thismonth"><img src="/images/servicereport.png" alt="Service Report" /></a></td>
	<td><a href="/products"><img src="/images/products.png" alt="Products" /></a></td>
	</tr>


</table>




</body>
</html>

