<% include head %>
<form action="/login" method="post">

<fieldset>
<legend>Food Pantry Information Management System</legend>

<label for="username">Username:</label>
<input name="username" id="username" value="" />
<br/>

<label for="password">Password:</label>
<input type="password" name="password" id="password" value="" />
<br/>

<input type="submit" value="Log In">

</fieldset>

</form>

<% include foot %>

