<html>
    <body>
      <h1>Clients for you sir!</h1>
      <h4>Use control f</h4>
      <ul>
          <% for(var i=0; i < rows.length; i++) { %>
            <li><%= JSON.stringify(rows[i]) %></li>
          <% } %>
        </ul>
    </body>
</html>
