<html>
    <body>
      <h1>Clients for you sir!</h1>
      <h3><i>Use control F, bitch</i></h3>
        <% for(var i=0; i < rows.length; i++) { %>
          <li><%= JSON.stringify(rows[i]) %></li>
        <% } %>
    </body>
</html>
