<html>
    <body>
      <h1>Add a new Client</h1>
      <form action="/clients" method="post">
        BagSignedUp: <input type="text" name="BagSignedUp"></input><br>
        FirstName: <input type="text" name="FirstName"></input><br>
        LastName: <input type="text" name="LastName"></input><br>
        Phone: <input type="text" name="Phone"></input><br>
        Street: <input type="text" name="Street"></input><br>
        City: <input type="text" name="City"></input><br>
        State: <input type="text" name="State"></input><br>
        Zip: <input type="text" name="Zip"></input><br>
        Apartment: <input type="text" name="Apt"></input><br>
        Gender: <input type="text" name="Gender"></input><br>
        Start: <input type="text" name="Start"></input><br>
        PickupDay: <input type="text" name="PickupDay"></input><br>
        <input type="submit" value="Create"></input>
      </form>
    </body>
</html>
