<html>
    <body>
      <h1>Add a new Dropoff</h1>
      <form action="/dropoff" method="post">
        Product: <input type="text" name="Product"></input><br>
        Quantity: <input type="text" name="Quantity"></input><br>
        Source: <input type="text" name="Source"></input><br>
        <input type="submit" value="Create"></input>
      </form>
    </body>
</html>
