<html>
  <body>
    <h1> <%= client.FirstName + " " + client.LastName %> </h1>
    <p>Bag name : <%= client.BagSignedUp %> </p>
    <p> Pickup day: <%= client.PickupDay %> </p>
    <p> Client since : <%= client.Start %> </p>
  </body>
</html>
