/* Sample Webpage Lab  style.css - Note that you need to fill this in yourself! */

body {
  font-size: 14px
  font-family: arial, helvetica, sans-serif
  color: #0073FF;
  background-color: #BABABA;
}

p {
  border:2px
  border-style:solid;
  border-color: #0073FF
  background-color:#FFFFFF
  color: #0073FF;
}


legend {
	font-size: 1.5em;
	color: #0073FF;
}

h1 {
    color: #0073FF;
    font-size: 4em;
    align:center;
}

h2 {
    color: #0073FF
    font-size: 3em;
}
a {
    color: #FFFFFF;
}

a:active {
    color: #0073FF;
}

table, td, th
{
border:2px;
border-style:solid;
border-color:#0073FF;
background-color:white;
}

fieldset {
  background: white
}

.container {
  align: center;
}


/* Other possible style blocks go here... */