<% include ../head %>

      <h1>Add a new Dropoff</h1>
      <form action="/dropoffs" method="post">
        Product: <select name = "Product">
        
        	<%for (var j in arr) { %> <option value = <%=arr[j]["Name"] %> > <%=arr[j]["Name"]%> </option><%} %> 
        	
        </select><br>
        Quantity: <input type="text" name="Quantity"></input><br>
        Source: <input type="text" name="Source"></input><br>
        <input type="submit" value="Create"></input>
      </form>
      
<% include ../foot %>

