<html>
	<body>
		<form action = "/products/new" method = "post">
			Name: <input type="text" name="Name"></input><br>
			CostPerUnit: <input type="text" name="CostPerUnit"><br>
        	Source: <input type="text" name="Source"></input><br>
        	<input type="submit" value="Create"></input>
		</form>
	</body>
</html>