<% include ../head %>
		<form action = "/products/new" align = "center" method = "post">
			Name: <input type="text" name="Name"></input><br>
			CostPerUnit: <input type="text" name="Cost"><br>
        	Source: <input type="text" name="SourceName"></input><br>
        	<input type="submit" value="Create"></input>
		</form>
<% include ../foot %>