<% include ../head %>

    <h2>Products</h2>
    Search by name: <input id="productSearch"/>
		<table border = 1 id="productTable">
			<tr>
				<td>Product Name		</td>
				<td>Quantity			</td>
				<td>Cost per Unit		</td>
			</tr>
			
			<% for (var i in arr) { %>
				<tr>		
					<% for(var j = 0; j < val.length; j++) { %> <td> <%= arr[i][val[j]] %> </td> <% } }%>
		
		</table>
		<a href = '/products/new'>Add new product</a>
	
<% include ../foot %>
