<% include ../head %>

		<table border = 1>
			<tr>
				<td>Product Name	</td>
				<td>Cost per Unit	</td>
				<td>Quantity		</td>
			</tr>
			
			<% for (var i in arr) { %>
				<tr>		
					<% for(var j = 0; j < val.length; j++) { %> <td> <%= arr[i][val[j]] %> </td> <% } }%>
		
		</table>
		<a href = '/products/new'>Add new product</a>
	
<% include ../foot %>
